.telo {
    background-color: #F5F5DC;
    min-height: 100vh;
    margin: -8px;
    padding: 0;
}

.naslov {
    background-color: #228B22;
    color: #FFDA03;
    font: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.meni {
    background-color: #E2725B;
    color: #FFDA03;
    font: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.forma {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.dugme {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.error {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 13px;
}